body {
    background-color: rgb(72, 89, 100);
        -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome/Opera */
}
.button { width: 200px;
    height: 100px;
    background-color: darkcyan;
    cursor: pointer;
    border: solid black 1px;
    box-shadow: 2px 5px;
    outline: none;
}
.button:active {
    box-shadow: 1px 2px;
    transform: translatey(3px) translatex(1px);
}
.smallbutton {
    width: 50px;
    height: 25px;
    background-color: gray;
    border:solid black 1px;
    box-shadow: 2px 5px;
    outline: none;
}
.smallbutton:active {
    box-shadow: 1px 2px;
    transform: translatey(3px) translatex(1px);
}
#infobox {
    position:absolute;
    top: 150px;
    border: 1px solid black;
    width: 500px;
}
#infotitle {
    font-size: 20px;
}
#total {
    font-size: 30px;
}
.mouse {
    color: rgb(128, 199, 48);
    font-size: 20px;
}
.factory {
    color: rgb(219, 219, 24);
    font-size: 20px;
}
.factoryV2{
    visibility: hidden;
    color: rgb(219, 170, 24);
    font-size: 20px;
}
.bank {
    visibility: hidden;
    color: rgb(219, 105, 24);
    font-size: 20px;
}
#upgrademouse {
    background-color: rgb(128, 199, 48);
}
#buyfactory {
    background-color: rgb(219, 219, 24);
}
#buyfactoryV2 {
    background-color: rgb(219, 170, 24);
}
#buybank {
    background-color: rgb(219, 105, 24);
}
#signature {
    position: absolute;
    font-size:10px;
    top: 95%;
    left: 93%;
}
#upgtitle {
    position: absolute;
    top:350px;
    left: 830px;
    font-size: 40px;
}
#upgcontainer {
    display:flex;
    position: absolute;
    top: 400px;
    left: 700px;
    flex-wrap: wrap;
    width: 400px;
    height: 200px;
    border: 1px solid black;

}

.upg{
    width: 100px;
    height:40px;
    border:1px solid black;
    outline: none;
    cursor: pointer;
}
#mouseupg1{
    background-color:rgb(128, 199, 48);
}
#mouseupg2{
    background-color:rgb(128, 199, 48);
}
#mouseupg3{
    background-color:rgb(128, 199, 48);
}
#mouseupg4{
    background-color:rgb(128, 199, 48);
}
#factoryupg1 {
    background-color:rgb(219, 219, 24);
}
#factoryupg2 {
    background-color:rgb(219, 219, 24);
}
#factoryupg3 {
    background-color:rgb(219, 219, 24);
}
#factoryupg4 {
    background-color:rgb(219, 219, 24);
}
#v2upg1 {
    background-color: rgb(219, 170, 24);  
}
#v2upg2 {
    background-color: rgb(219, 170, 24);  
}
#v2upg3 {
    background-color: rgb(219, 170, 24);  
}
#v2upg4 {
    background-color: rgb(219, 170, 24);  
}
#bankupg1 {
    background-color: rgb(219, 105, 24);
}
#bankupg2 {
    background-color: rgb(219, 105, 24);
}
#bankupg3 {
    background-color: rgb(219, 105, 24);
}
#bankupg4 {
    background-color: rgb(219, 105, 24);
}
#winupg {
    background-color: deeppink;
}